@charset "UTF-8";
body{font-family: "Heiti TC","Microsoft JhengHei" !important;}
.content-rabbit{margin:auto;padding:16px;}
.min-height{min-height: calc(100vh - 345px);}
.float-right{float: right;}
.m-hidden{display: none;}
.m-show{display: none;}
.padding-13px-0px{padding:13px 0px;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.line-height-15em{line-height: 1.5em;}
.clear-both{clear:both;}
/*nav*/
.nav-icon{vertical-align: middle;margin-right: 100px;margin-left: -32px;}
.main-nav{margin:0px 30px;font-size:16px;line-height: 39px;}
.main-nav a{display: block;color:#5D5D5D;}
.nav-bottom-line{border-bottom-style:dashed;border-width: 2px;border-color:#afafaf;}
.nav-section-0{}
.nav-section-0-title{color: #1e57ae;}
.nav-section-0-title img{vertical-align: text-top;margin-right:1em;width:1em;}
.section-title-icon{float: right;height:39px;line-height: 39x;font-size:20px;font-weight: bold;}
.nav-section-0 ul{text-indent: 2em;display: none;}
.nav-section-0 ul ul{text-indent: 3em;}
.nav-section-0 ul ul ul{text-indent: 4em;}
.nav-section-0 ul ul ul ul{text-indent: 5em;}
/*nav*/
/*breadcrumb*/
.breadcrumb{margin:80px 0px 0px 0px;padding:0px;width:100%; background-color:#f6f6f6;padding:10px;}
.breadcrumb li{display: inline-flex;display: -webkit-inline-box;font-size:14px;color:#2b2b2b;}
.breadcrumb li a{color:#2b2b2b;}
.breadcrumb > li + li:before {content: ">";padding:0px 5px;}
/*go to top*/
.go-to-top{text-align: right;padding:0px;padding-bottom: 16px;}
.go-to-top a{margin-right: 16px;cursor: pointer;}

/*service*/
.service-title{background-color:#F6F6F6;line-height: 80px;min-height:80px;border-radius: 9px;}
.service-title-icon{padding-left: 38px;}
.service-title h1{margin:0px;padding:0px;display: inline-block;font-size:24px;font-weight: 500;color: #1e57ae; vertical-align: super;padding-left: 0.5em;}
.service-body{font-size:16px;}
.service-form{}
.service-body h2{margin:0px;padding:25px 0px;font-size:18px;font-weight: normal;line-height: 1.5em;}
.service-list{margin:0px;padding:0px;list-style:decimal;padding-left: 1em;padding-bottom: 40px;}
.service-list li{line-height: 2em;font-size:16px;list-style: decimal;}

.service-faq-nav{text-align: center;background-color:#F6F6F6;margin:25px 0px;text-align: center;}
.service-faq-nav a{display:inline-block;font-size:20px;color:#2b2b2b;cursor: pointer;padding:17px 0px;text-align: center;}
.service-faq-nav a span{width:2em;display: inline-block;}
.service-faq-nav .faq-active{color:#ef0041;}
.service-faq-nav > a + a:before {color: #CCCCCC;content: "|";padding:0px 10px;vertical-align: super;}

.faq-panel{}
.faq-panel h2{padding-left: 0px;font-size: 18px;font-weight: normal;}
.faq-panel ul{padding:0px;margin:0px;}
.faq-panel ul li{margin:15px 0px;}
.faq-panel .faq-toggle{padding:0px 18px 0px 18px;background-color:#F6F6F6;height:40px;line-height: 40px;font-size:16px;color:#1e57ae;border-radius: 9px 9px 0px 0px;}
.faq-panel .faq-content{border-style: solid;border-top:none;border-width: 1px;border-color: #B7B7B7; border-radius: 0px 0px 9px 9px;padding:25px 18px 25px 18px;font-size:16px;color:#2b2b2b;line-height: 1.5em;display: none;}

.service-contact-form{font-siz:16px;}
.service-contact-section-1{clear: both;margin-top:25px;font-size:16px;}
.service-contact-section-1 span{display: block;font-size:16px;}
.service-contact-section-1 select{font-size:16px;margin:10px 0px;display: block;padding:10px;border-radius: 9px;width:100%;}
.service-contact-section-1 hr{border-style: solid;border-width: 1px;border-color: #949494;margin:35px 5px;}

.service-contact-section-2 p{text-align: right;margin-bottom: 15px;}
.service-contact-section-2 span{width:20%;display: inline-block;font-size:16px;float: left;text-align: left;padding:12px 0px;}
.service-contact-section-2 input{width:70%;padding:10px;border-radius: 5px;font-size:16px;border-style:solid;border-width: thin;border-color:#aaaaaa;}
.service-token p{text-align: left;}
.service-token a{display: inline-block;height:40px;line-height: 40px;vertical-align: text-bottom;}
.service-contact-section-2 .token-input{width:6em;vertical-align: top;}
.service-contact-section-2 img{vertical-align: super;}

.service-contact-section-3 textarea{width:-webkit-fill-available;max-width:webkit-fill-available ;border-radius: 5px;margin:0px;padding:10px;font-size:16px;min-height: 200px;}
.service-contact-submit{display: block;width:100%;padding:9px 0px;text-align: center;color:#FFFFFF;border:none;background-color:#1e57ae;border-radius: 5px;margin:35px 0px 100px 0px;font-size:16px;}

.bonny-culture-pic img{width:100%;}
.bonny-culture-video iframe{width:100%;height:200px;}

/*bonny-news*/
.news-list-panel{clear: both;}
#form-news-select{text-align: right;}
.news-select{margin:15px 0px;font-size: 16px;padding:10px;width:168px;border-radius: 9px;color:#5b5b5b;}
.news-list{margin-top:-6.5px;margin-left: -6.5px;margin-right: -6.5px;}
.news-list-area{width:50%;float: left;}
.news-list-content{margin:6.5px;background-color:#f4f4f4;}
.news-list-content img{width:100%;height:auto;}
.news-list-info{padding: 15px 16px;}
.news-list-date{margin-bottom: 15px;color:rgba(72, 62, 60, 0.75);}
.news-list-title{margin-bottom: 15px;font-size: 20px;color:#1e57ae;font-weight: 300;}
.news-list-des{margin-bottom: 15px;font-size:14px;color:#2b2b2b;font-weight: 300; overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}
.news-list-label{padding:6px 18px;color:#1e57ae;border:solid #1e57ae 1px; border-radius:9px;display:inline-block;}
.news-list-more,.news-list-more:hover{display:inline-block;font-size:16px;font-weight:500;height:28px;line-height:28px;color:#FF0000;margin-top:15px;}
@media(min-width:480px){
    .news-list-more,.news-list-more:hover{float:right;margin-top:0px;}
}
@media(min-width:1164px){
    .news-list-panel{width:1164px;margin:auto;}
    .news-select{margin:15px 26px;}
    .news-list{margin-top:-18px;margin-left: 0px;margin-right: 0px;}
    .news-list-content{margin:18px 26px;background-color:#f4f4f4;}
    .news-list-info{padding: 15px 20px;}
}
/*bonny-news*/
/*bonny-news-content*/

/*bonny-news-content*/
.service-title .news-list-label{line-height:1em;margin-left:16px;}
.service-title .news-content-h1{line-height: 30px;vertical-align: middle;margin-left: 16px;padding-left: 0px;}
.service-title .news-content-date{line-height:1em;font-size:14px;font-weight: normal;color:rgba(72, 62, 60, 0.75);}
.news-content-article{margin-top: 45px;margin-bottom: 45px;}
.news-content-article img{max-width: 100%;}
@media(min-width:480px){
    .service-title .news-list-label{margin-left: 40px;}
    .service-title .news-content-h1{margin-left: 38px;}
}
.prev-pagination{min-height:55px;text-align: center;font-size:16px;background-color: #f6f6f6; line-height: 55px;}
.prev-pagination a{display: inline-block;color:#1e57ae;}
.prev-pagination .arrow{display: inline-block;width:16px;height:16px;text-align: center;border-radius: 100%;line-height: 18px;padding:0px;border:solid 1px #1e57ae;padding:5px;margin:0px 10px;}
.prev-line{margin:0px 10px;color:rgba(72, 62, 60, 0.75);}

.news-m-hidden{display: none;}
@media(min-width:768px){
    .prev-line{margin:0px 50px;}
    .news-m-hidden{display: initial;}
}
/*pagination*/
/*.pagination{list-style: none;text-align: center;margin:34px 0px;}
.pagination li{display: inline-block;margin:0px 3px;}
.pagination li a{display: inline-block;height: 31px;width:31px;text-align: center;line-height: 31px;border: solid 1px #1e57ae;border-radius: 9px;color:#1e57ae;font-size: 16px;}
.pagination li .active,.pagination li a:hover{background-color: #1e57ae;color:#FFFFFF;border-color: #1e57ae;}
.pagination li a .pagination-arrow{vertical-align: middle;}
.pagination-tags:nth-child(7),.pagination-tags:nth-child(8),.pagination-tags:nth-child(9),.pagination-tags:nth-child(10),.pagination-tags:nth-child(11),.pagination-tags:nth-child(12){display: none;}
@media(min-width:768px){
    .pagination-tags:nth-child(7),.pagination-tags:nth-child(8),.pagination-tags:nth-child(9),.pagination-tags:nth-child(10),.pagination-tags:nth-child(11),.pagination-tags:nth-child(12){display: inline-block;}
}*/
/*pagination*/

@media (min-width:845px){
    .service-contact-main{width:845px;margin-left:auto;margin-right:auto;}
    .bonny-culture-video{width:800px;margin:35px auto;}
    .bonny-culture-video iframe{height:450px;}
}
@media (min-width:997px){
    .bonny-culture-pic{width:975px;margin: 35px auto;}

    .breadcrumb{margin-top:105px;padding-left: 40px;}
}
@media (min-width:1200px){
    .go-to-top a{margin-right: 26px;}
    .service-title-icon{padding-left:40px;}

    .service-faq-nav a span{width:4em;}
    .service-faq-nav > a + a:before {color: #CCCCCC;content: "|";padding:0px 35px;vertical-align: middle;}
    .faq-panel h2{padding-left:40px;}
    .faq-panel .faq-toggle{padding:0px 35px 0px 40px;}
    .faq-panel .faq-content{padding:25px 35px 25px 40px;}

    .service-contact-section-1{width:557px;margin-left: auto;margin-right: auto;}
    .service-contact-section-2{width:410px;float: left;}
    .service-contact-section-3{width:410px;float: right;}
    .service-token p{text-align: right;}
    .service-contact-submit-area{width:557px;margin-left: auto;margin-right: auto;clear: both;padding-top:35px;}
}
/*srvice*/

@media (min-width:1200px){
    .content-rabbit{width:1188px;}
    .service-body{padding-left:40px;}
}
